:root {
  --slidev-theme-primary: #5d8392;
  --header-gradient: linear-gradient(
    45deg,
    hsl(261deg 75% 52%) 0%,
    hsl(264deg 76% 52%) 5%,
    hsl(266deg 78% 53%) 11%,
    hsl(269deg 80% 53%) 16%,
    hsl(271deg 81% 53%) 21%,
    hsl(274deg 83% 54%) 26%,
    hsl(276deg 84% 54%) 32%,
    hsl(278deg 86% 54%) 37%,
    hsl(280deg 87% 54%) 42%,
    hsl(282deg 89% 54%) 47%,
    hsl(284deg 90% 54%) 53%,
    hsl(286deg 91% 54%) 58%,
    hsl(288deg 93% 54%) 63%,
    hsl(290deg 94% 54%) 68%,
    hsl(292deg 95% 53%) 74%,
    hsl(294deg 96% 53%) 79%,
    hsl(295deg 97% 52%) 84%,
    hsl(297deg 98% 52%) 89%,
    hsl(298deg 99% 51%) 95%,
    hsl(300deg 100% 50%) 100%
  );
}

.gradient-text {
  background: var(--header-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  background: var(--header-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @apply font-bold max-w-fit;
}

:not(pre) > code {
  @apply text-accent bg-code-bg px-1 py-0.5 rounded-md;
}

strong {
  @apply text-tertiary font-bold;
}

li::marker {
  @apply text-accent;
}

.slidev-layout.cover,
.slidev-layout.intro {
  @apply h-full grid;

  h1 {
    @apply text-6xl leading-20;
  }

  h1 + p {
    @apply -mt-2 opacity-50 mb-4;
  }

  p + h2,
  ul + h2,
  table + h2 {
    @apply mt-10;
  }
}
