:root {
  --slidev-theme-primary: #5d8392;
  --header-gradient: linear-gradient(
    45deg,
    hsl(261deg 75% 52%) 0%,
    hsl(264deg 76% 52%) 5%,
    hsl(266deg 78% 53%) 11%,
    hsl(269deg 80% 53%) 16%,
    hsl(271deg 81% 53%) 21%,
    hsl(274deg 83% 54%) 26%,
    hsl(276deg 84% 54%) 32%,
    hsl(278deg 86% 54%) 37%,
    hsl(280deg 87% 54%) 42%,
    hsl(282deg 89% 54%) 47%,
    hsl(284deg 90% 54%) 53%,
    hsl(286deg 91% 54%) 58%,
    hsl(288deg 93% 54%) 63%,
    hsl(290deg 94% 54%) 68%,
    hsl(292deg 95% 53%) 74%,
    hsl(294deg 96% 53%) 79%,
    hsl(295deg 97% 52%) 84%,
    hsl(297deg 98% 52%) 89%,
    hsl(298deg 99% 51%) 95%,
    hsl(300deg 100% 50%) 100%
  ); 
}

#slide-content {
 /* @apply bg-primary;*/
  background-image: linear-gradient(
    45deg,
    rgba(0, 43, 63, 1) 0%,
    rgba(0, 43, 65, 1) 42.65%,
    rgba(2, 44, 72, 1) 58.02%,
    rgba(4, 46, 83, 1) 68.96%,
    rgba(7, 49, 100, 1) 77.82%,
    rgba(11, 52, 122, 1) 85.31%,
    rgba(14, 55, 141, 1) 90.22%, 
    rgba(18, 58, 161, 1) 93.2%,
    rgba(27, 65, 211, 1) 99.24%,
    rgba(28, 66, 218, 1) 100%);
}

.gradient-text {
  background: var(--header-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.speaker-image {
  @apply border-accent;
}


li::marker {
  @apply text-accent;
}

strong {
  @apply font-bold;
  @apply text-accent;
}

h1 {
  background: var(--header-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @apply font-bold max-w-fit;
}

:not(pre) > code {
  @apply text-accent bg-code-bg px-1 py-0.5 rounded-md;
}

